:root {
  --white: #d2d2d2;
}
.react-body {
  font-size: 15pt;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #13131d;
  color: white;
  font-family: normal;
  overflow-y: scroll;
}
nav {
  display: none;
}
header,
aside {
  display: none;
}
.div {
  display: grid;
  height: 100%;
  width: 100vw;
  gap: 0.2vw;
  grid-template-areas:
    "aside header header"
    "aside body main"
    "footer footer footer";
}
.div div {
  background-color: ;
}
.div .aside {
  grid-area: aside;
  width: 20vw;
  padding: 1.5vw;
  border-right: 1px solid #333;
}
.div .aside .logo {
  font-size: 2rem;
  font-family: "Concert One", serif;
}
.div .aside .search {
  width: 100%;
  height: 2rem !important;
}
.div .aside .search input,
.input-search {
  width: 16vw;
  height: 2rem;
  font-size: 0.6rem;
  background-color: #313142;
  border: 1px solid #333;
  border-radius: 0.3rem;
  margin-top: 1.5rem;
  padding-left: 1.6rem;
  transition: 1s all;
  border: none;
  outline: none;
  background-image: url("../images/m2i8G6H7d3d3H7K9.png");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 10px;
  color: white;
}
.div .aside .search i {
  position: relative;
  z-index: 1;
  left: 1vw;
  top: 3rem;
  font-size: 0.7rem;
}
.div .aside .search input:hover {
  animation-duration: 1.5s;
  box-shadow: 0 0 5px darkblue;
  border: none;
}

.div .aside .search input::placeholder {
}
.div .aside .logo span {
  font-size: 2rem;
  color: darkorange;
  margin: 0;
  padding: 0;
}
.div .header {
  grid-area: header;
  height: 38rem;
}
.div .content {
  height: 55rem;
  grid-area: body;
  width: 55vw;
}
.div .main {
  grid-area: main;
  width: calc(100vw - (55vw + 21vw));
}
.div .footer {
  grid-area: footer;
  height: 10rem;
  display: flex;
  background-color: rgba(100, 101, 115, 0.5);
  align-items: center;
  padding: 1vw;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.div .aside img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin: 0;
  margin-bottom: -1vw;
  margin-left: 1vw;
  margin-top: 1.5rem;
}
.div .aside .label-img {
  color: #f1f2f3;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1vw;
}
.div .aside label i {
  font-size: 1rem;
  margin-left: 2rem;
}
.div .aside .hr {
  width: 85%;
  background-color: #323232;
  margin-top: 2rem;
  border: none;
  height: 0.1px;
  border: none;
  margin-bottom: 2rem;
}
.div .aside ul li {
  list-style: none;
  margin-left: -0.5rem;
  display: flex;
  align-items: center;
}
.div .aside span {
  color: #4f4f4f;
  text-transform: uppercase;
  margin-left: 1rem;
  font-size: 1rem;
}
.div .aside ul {
  margin-bottom: 3rem;
  margin-top: 2rem;
}
.div .aside ul li i {
  background: #323232;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10px;
  margin-bottom: 3rem;
  color: #8c8c8c;
  font-size: 0.8rem;
}
.div .aside ul li i:hover {
  background-color: #f97656;
  color: white;
}
.div .aside ul li i:hover ~ span {
  color: white;
}
.div .aside ul li span {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  text-transform: none;
  margin-left: 2vw;
  margin-top: -2.7rem;
  color: #8c8c8c;
}
.div .aside .hr2 {
  margin-bottom: 7rem;
  margin-top: 0;
}
.div .header .head {
  padding: 3vw;
  height: 40%;
  background-color: rgba(100, 101, 115, 0.5);
  border: none;
}
.div .header .head h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-top: 0.5rem;
}
.div .header .head h1 ~ span {
  color: #8c8c8c;
}
.div .header .head .box {
  display: flex;
  height: 100%;
  border: none;
}
.div .header .head .box .recent {
  height: 100%;
  margin-top: 1rem;
  width: 12rem;
  border: none;
  margin-right: 2vw;
}
.div .header .head .box .recent img {
  height: 13rem;
  width: 12rem;
}
.div .header .head .box .recent p {
  margin-bottom: 0.5rem;
  margin-top: 0.7rem;
  font-size: 1rem;
}
.div .header .head .box .recent img ~ p ~ span {
  color: #8c8c8c;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.div .header .head .box .view-more div {
  height: 13rem;
  width: 12rem;
  background-color: #8c8c8c;
  border: none;
  background: linear-gradient(145deg, #969696, #7e7e7e);
  display: flex;
  align-items: center;
  justify-content: center;
}
.div .header .head .box .view-more div i {
  font-size: 5rem;
  color: #ababab;
}
.div .content {
  padding: 3vw;
}
.div .content span {
  color: #8c8c8c;
}
.div .content hr {
  margin-top: 1.2rem;
  background-color: #323232;
  border: none;
  height: 0.1px;
}
.div .content td p {
  margin: 0;
  margin-top: 0.2rem;
  color: #8c8c8c;
}
.div .content table tr .second {
  padding-top: 1.5rem;
  padding-left: 4vw;
}
.div .content table tr .third {
  padding-left: 4vw;
  padding-right: 4vw;
}
.div .main {
  padding: 3vw;
}
.div .main hr {
  margin-top: 1.2rem;
  background-color: #323232;
  border: none;
  height: 0.1px;
  margin-bottom: 2rem;
}
.div .main span {
  color: #8c8c8c;
}
.div .main div {
  height: 5rem;
  display: flex;
  border: none;
  margin-bottom: 3rem;
}
.div .main div img {
  border-radius: 50%;
}
.div .main div ul li {
  list-style-type: none;
  color: #8c8c8c;
  font-size: 1rem;
  margin-left: -1.5rem;
}
.div .main div ul .name {
  color: white;
  font-size: 1.3rem;
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
}
.div .main div i {
  margin-top: 3.5rem;
  margin-left: -1rem;
  background-color: white;
  color: #0089ff;
  height: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.div .footer img {
  height: 90%;
}
.div .footer ul {
  margin: 0;
  padding: 0;
  padding-left: 2vw;
}
.div .footer ul li {
  list-style: none;
  color: #8c8c8c;
}
.div .footer ul .song {
  font-size: 1.5rem;
  color: white;
}
.div .footer .fa {
  font-size: 3rem;
  margin-left: 3vw;
}
.div .footer .backward {
  margin-left: 4vw;
}
.div .footer .play {
  color: #323232;
  background-color: white;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  font-size: 2rem;
  border-radius: 100%;
}
.div .content .display {
  display: none;
}
.slider {
  -webkit-appearance: none;
  width: 10px;
  height: 25px;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 10px;
  height: 25px;
  background: #2328ff;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2328ff;
  cursor: pointer;
}
.slider,
.volume {
  -webkit-appearance: none;
  width: 30%;
  height: 5px;
  background: #8c8c8c;
  outline: none;
  opacity: 1;
  border-radius: 2px;
  -webkit-transition: 0.2s;
  margin: 0 2vw;
  transition: opacity 0.2s;
}

.slider:hover,
.volume:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb,
.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 0.5px solid #ddd;
  background: #fff;
  cursor: pointer;
}

.slider::-moz-range-thumb,
.volume::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #2328ff;
  cursor: pointer;
}
.div .footer #hr {
  margin-left: 5vw;
}
.div .footer .song {
  width: 20vw;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 6.5rem;
  background-color: black;
  color: red;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}
.tooltip .tooltiptext li {
  font-size: 1rem;
  color: red;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
#loader {
  z-index: 1;
  width: 5em;
  height: 5em;
  /* margin: -76px 0 0 -76px;*/
  margin-top: 0;
  border: 16px solid #fff;
  border-radius: 50%;
  border-top: 16px solid #19191f;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
.preload {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 27%;
  top: 35%;
  align-items: center;
  border: 50px;
  background: #13131d;
  width: 50%;
  height: 25%;
}
.popular {
  display: none;
}
.div .content .display {
  display: block;
  width: 100%;
  display: flex;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 2vw;
  height: 5rem;
  margin-bottom: 1rem;
  border: 0.5px solid grey;
  background-color: /*rgba(17, 18, 32, 1)*/ #13131d;
}
.div .content .display img {
  border-radius: 15%;
}
.div .content .display .song {
  font-size: 1.2rem;
  width: 72vw;
}
.div .content .display .title-cover {
  font-size: 1.3rem;
  width: 72vw;
}
.div .content .display .backward,
.div .content .display .forward {
  display: none;
}
.div .content .display .pause {
  font-size: 1rem;
  float: left;
}
@media only screen and (max-width: 640px) {
  nav {
    height: 3rem;
    border-top: 1px solid #323232;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    position: fixed;
    bottom: -0.4rem;
    background-color: #13131d;
  }

  /*nav a{
   font-size: 1rem;
   color: #323232;
   margin-left: 8%;
   margin-top: 2vh;
   margin-bottom: 0;
   padding-bottom: 0;
   background-color: #13131D;
 }
 nav a::after{
   content: "";
   border-right: 1px solid #333;
   margin-left: 8%;
 }
 nav a:last-child::after{
   content: "";
   border: 1px solid #13131D;
   margin: none;
 }
 nav a:hover,nav a:active{
   background-color: #13131D;
 }
 nav a span{
   font-size: 1rem;
 }
 nav .subtitle{
   margin-top: -1.5vh;
 }
 nav .subtitle span{
   font-size: .5rem;
   padding-left: 3.0rem;
   color: #E2E2E2;
 }
 nav a i:hover{
   color: #F97656;
 }
 nav a i:active{
   color: #F97656;
 }nav{
  margin: 0;
}
nav .nav {
  display: flex ;
  margin: 0;
  padding: 0;
}
nav .nav ul{
  list-style: none;
/*  display: flex;
 /* align-items: center;
  justify-content: center*/
  nav {
    display: flex;
    align-items: center;
    padding-left: 0vh;
  }
  nav .nav ul li {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1rem;
    padding-bottom: 0.2rem;
  }
  nav .nav ul li span {
    font-size: 0.5rem;
  }
  nav .subtitle span:first-child {
    padding-left: 1.5rem;
  }
  nav .subtitle span:last-child {
    padding-left: 2rem;
  }
  .div .aside {
    display: none;
  }
  .div .header .head {
    background-color: #13131d;
  }
  .div .header .head h1 {
    font-size: 1rem;
  }
  .div .header .head span {
    font-size: 0.5rem;
  }
  .div .header .head .box .recent {
    width: 100vw;
    height: 12rem;
  }
  .div .header .head .box .recent img,
  .div .header .head .box .view-more div {
    width: 90vw;
    height: 12rem;
    border-radius: 1rem;
  }
  .div .header .head .box {
    max-width: 100vw;
    overflow: scroll;
    height: 16rem;
    margin-bottom: 4rem;
  }
  .div .header .head .box .recent div {
    height: 11rem;
  }
  .div .header .head .box .recent img ~ p {
    font-size: 0.7rem;
  }
  .div .header .head .box .recent img ~ p ~ span {
    font-size: 0.7rem;
  }
  .div .header .head .box .view-more p {
    font-size: 0.7rem;
  }
  .div .header {
    height: 20rem;
  }
  .div {
    display: block;
  }
  .div .content,
  .div .main {
    margin-top: 0.4rem;
    width: 95vw;
  }
  .div .content span,
  .div .main span {
    font-size: 0.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .div .content hr {
    margin-bottom: 1rem
  }
  .div .content .display {
    display: block;
  }
  .div .content .display {
    display: block;
    width: 93vw;
    display: flex;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    border-radius: 10px;
    height: 2.7rem;
    margin-bottom: 0.4rem;
    border: 0.5px solid grey;
    background-color: /*rgba(17, 18, 32, 1)*/ #13131d;
  }
  .div .content .display img {
    border-radius: 50%;
  }
  .div .content .display .song {
    font-size: 0.5rem;
    width: 72vw;
  }
  .div .content .display .title-cover {
    font-size: 0.6rem;
    width: 72vw;
  }
  .div .content .display .backward,
  .div .content .display .forward {
    display: none;
  }
  .div .content .display .pause {
    font-size: 1rem;
    float: left;
  }
  .div .footer ul .song {
    font-size: 1em;
  }
  .div .footer ul .title-cover {
    font-size: 0.4rem;
  }
  .div .footer img {
    width: 2rem;
    height: 2rem;
    border-radius: 5%;
  }
  .div .footer .forward,
  .div .footer .backward,
  .div .footer #play {
    font-size: 1rem;
    margin-left: 0.5rem;
  }
  .div .footer #play i {
    width: 1rem;
    height: 1rem;
    font-size: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
  }
  .div .footer #play i {
    font-size: 0.5rem;
    color: #333;
    padding: 0;
    margin: 0;
  }
  .div .footer span {
    font-size: 0.5rem;
  }
  .div .footer {
    font-size: 0.5rem;
    background-color: #13131d;
    border-top: 1px solid #333;
    bottom: 2rem;
    height: 3.5rem;
  }
  .slider::-webkit-slider-thumb,
  .volume::-webkit-slider-thumb {
    width: 0.5rem;
    height: 0.5rem;
  }
  .slider::-moz-range-thumb,
  .volume::-moz-range-thumb {
    width: 0.5rem;
    height: 0.5rem;
  }
  .slider {
    width: 4rem;
    height: 0.1rem;
  }
  .popular {
    display: block;
    margin-top: 0.8rem;
    margin-bottom: 2vh;
  }
  .div .main div img {
    height: 2rem;
    width: 2rem;
    border-radius: 15%;
    margin: 0;
  }
  .div .main div ul {
    margin: 0;
    padding: 2vw;
  }
  .div .main div i {
    font-size: 10px;
    width: 8px;
    height: 8px;
    margin-left: -2.7vw;
    margin-top: 1.5rem;
  }
  .div .main div ul li {
    font-size: 0.5rem;
    margin: 0;
  }
  .div .main div ul .name {
    font-size: 0.65rem;
  }
  #loader {
    width: 2rem;
    height: 2rem;
    border: 5px solid #fff;
    border-top: 5px solid #13131d;
  }
  /* Positioning the nav bar */
  .chart {
    margin-left: 0.55rem;
    margin-right: 9999rem;
  }
  .sign {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  nav {
    margin: 0;
  }
  nav .nav {
    display: flex;
    margin: 0;
    padding: 0;
  }
  nav .nav ul {
    list-style: none;
    /*  display: flex;
 /* align-items: center;
  justify-content: center*/
  }
  nav .nav ul li {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 1.25rem;
    color: #333;
    margin-inline: 10vw;
  }
  nav .nav ul li a i {
    color: #333;
  }
  nav .nav ul li a i:hover {
    color: #f97656;
  }
  nav .nav ul li a i:hover ~ span {
    color: white;
  }
  nav .nav ul li span {
    font-size: 0.5rem;
    color: #8c8c8c;
  }
  nav .nav ul:first-child {
    margin-left: -6vw;
  }
  .div .content {
    height: auto;
  }
  .div .main {
    padding-bottom: 6rem;
  }
  .tooltip .tooltiptext li {
    color: red;
    margin-bottom: 0.4rem;
    font-size: 1rem;
  }
  .div .main div {
    height: 100%;
    margin-bottom: 1.2rem;
  }
  .react-body .div {
    height: 100%;
  }
  header .input-search {
    width: 60%;
    height: 1.5rem;
  }
  header {
    border-bottom: 1px solid #333;
    padding: 0;
    margin: 0;
  }
  .div {
    display: grihd;
    grid-template-areas:
      "header header header"
      "body body body"
      "main main main";
    margin-top: 1rem;
  }
  header {
    display: flex;
    align-items: center;
    height: 2rem;
    position: fixed;
    margin-bottom: 1rem;
    width: 100vw;
    top: 0;
    background-color: #13131d;
  }
  header i {
    font-size: 1.5rem;
    padding-left: 0.5rem;
  }
  header .input-search {
    margin: 0;
    margin-left: 1.5rem;
  }
  aside {
    display: none;
  }
  aside[class="active"] {
    height: 50rem;
    margin-top: 1.1rem;
    position: fixed;
    width: 36vw;
    background-color: #13131d;
    border-right: 1px solid #333;
    padding: 1rem;
    overflow: scroll;
    display: block;
  }
  aside[class="active"] .box-x div {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 0.3rem;
    margin-right: 0.7rem;
  }
  aside[class="active"] .box-x {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  aside[class="active"] .box-x span {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-family: "Concert one", serif;
  }
  aside[class="active"] .category-top {
    color: #484848;
    font-size: 0.7rem;
    height: 2rem;
  }
  aside[class="active"] ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
  }
  aside[class="active"] ul li {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 0.8rem;
    height: 1.5rem;
    width: 110%;
    align-items: center;
    color: dimgray;
  }
  aside[class="active"] ul li:hover {
    background-color: grey;
    border-radius: 0.5rem;
    color: #ddd;
  }
  aside[class="active"] ul li i {
    margin: 0;
    padding: 0;
    margin-right: 0.7rem;
    font-size: 0.9rem;
  }
  aside[class="active"] ul li span {
    font-size: 0.8rem;
  }
  .logout img {
    height: 0.9rem;
    width: auto;
  }
}
