.content img {
  height: 10vh;
  border-radius: 50%;
  margin: auto;
  display: flex;
}
.content label img {
  width: 10vh;
}
.content hr {
  margin-bottom: 1vh;
}
.content h3 {
  font-size: 2.5rem;
  margin: 0;
  margin-top: 1vh;
  text-align: center;
  color: #4f4f4f;
  font-weight: bold;
}
.content .intro {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  color: #4f4a4f;
  width: 70%;
  margin-top: -1vh;
}
.content ul li {
  list-style: none;
  display: flex;
  align-items: center;
}
.content .fa {
  width: 3vh;
  height: 3vh;
  background-color: #323232;
  border-radius: 10px;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
  margin-right: 1.5vw;
  color: #8c8c8c;
}
.content span {
  margin-top: -1vh;
}
.content button {
  width: 50%;
  display: flex;
  margin: auto;
  background: #13131d;
  color: white;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
}
.content .h1,
.content h1 {
  margin: -0.5vh 0;
  margin-top: 1vh;
  color: #8c8c8c;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.content .music {
  display: flex;
  align-items: center;
  border: 1px solid #323232;
  border-radius: 15px;
  background-color: rgba(100, 101, 115, 0.5);
  margin-bottom: 1vh;
}
.content .music img {
  height: 3vh;
  margin: 0;
  border-radius: 10px;
  margin-left: 2vw;
}
.content .music span {
  margin-left: 25%;
  margin-top: 0;
  color: #fff;
  width: 10vw;
  height: 1rem;
  overflow: hidden;
}
.content .music i {
  float: left;
  margin-left: 30%;
  background-color: rgba(250, 250, 250, 0.4);
  margin-top: 0.8vh;
  color: rgba(0, 0, 0, 0.4);
}
.content .music-list {
  overflow: scroll;
  height: 30%;
}
@media only screen and (max-width: 768px) {
  .content h3 {
    font-size: 1.3rem;
    font-weight: 350;
  }
  .content {
    margin-bottom: 5rem;
  }
  .content hr {
    margin-bottom: 1rem;
  }
  .content img {
    height: 5rem;
    /*    width: 5rem;*/
  }
  .content label img {
    width: 5rem;
  }
  .content .intro p {
    font-size: 1rem;
  }
  .content button {
    width: 6rem;
    height: 1.5rem;
  }
  .content button:hover {
    background-color: grey;
  }
  .div .main {
    margin-top: vh;
    visibility: hidden;
  }
  .content .fa {
    font-size: 0.5rem;
    border-radius: 25%;
  }
  .content .music-list {
    height: 60%;
  }
  .content .music span {
    width: 30%;
    overflow: scroll;
  }
}
